form#new_bookmark {
  width: 700px;
  margin: auto auto;

  p {
    margin-bottom: 0
  }

  fieldset {
    border: 0;
  }

  label {
    display: block;
    font-size: 0.8em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 0.5em;
  }
}
